.career__content--container {
    display: flex;
    width: 1280px;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    margin-inline: auto;
}

.career__content--container p {
    color: var(--text-color);
}

@media (max-width: 768px) {
  .career__content--container {
    max-width: 752px;
    padding: 50% 0;
  }
}

@media (max-width: 425px) {
  .career__content--container {
    max-width: 409px;
  }
}

@media (max-width: 375px) {
  .career__content--container {
    max-width: 351px;
  }
}