.engineer__list--rounded li {
    list-style: inside;
}

.engineer__content-container {
    max-width: 1280px;
    padding: 2em 0;
    width: 100%;
    margin-inline: auto;
}

.engineer__content-p-header {
    padding: 1em 0;
}

.engineer__content-header {
    padding-bottom: 1em;
}

@media (max-width: 768px) {
  .engineer__content-container {
    max-width: 752px;
}
}

@media (max-width: 425px) {
  .engineer__content-container {
    max-width: 409px;
  }
}

@media (max-width: 375px) {
  .engineer__content-container {
    max-width: 351px;
  }
}