footer {
    background-color: var(--primary-color);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 2em;
    height: 12em;
    gap: 8em;
    color: var(--bg-color);
}

.footer__links-section {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

a {
    color: var(--bg-color);
}

.call__section-link {
    display: flex;
    align-items: center;
}

.location__section--links {
    display: flex;
    flex-direction: row;
}

.location__links-container {
    display: flex;
    flex-direction: column;
}

.mail__section-link {
    display: flex;
    align-items: center;
}

.company__name-link {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.footer__links-section img {
    width: 2rem;
    height: 2rem;
}

@media (max-width: 768px) {
  footer {
    background-color: var(--primary-color);
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 0.5em;
    height: 11em;
    gap: 1em;
    color: var(--bg-color);
}
}