header {
  background-color: var(--primary-color);
  display: flex;
  padding: 2em 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.header__links-container a {
  padding: 1em;
  color: var(--bg-color);
  transition: 0.5s;
}

.header__links-container a:hover {
  display: inline-block;
  transform: scale(1.1);
}