.tadviser__container--border {
    max-width: 1280px;
    width: 100%;
    margin-inline: auto;
    padding: 1em 0;
}

.tadviser__container--border p {
    padding: 1em 0;
}

.tadviser__imgconteiner--placement {
    display: flex;
    justify-content: center;
}

@media (max-width: 768px) {
  .tadviser__container--border {
    max-width: 752px;
  }
}

@media (max-width: 425px) {
  .tadviser__container--border {
    max-width: 409px;
  }

  .tadviser__imgconteiner--placement img {
    max-width: 409px;
  }
}

@media (max-width: 375px) {
  .tadviser__container--border {
    max-width: 359px;
  }

  .tadviser__imgconteiner--placement img {
    max-width: 359px;
  }
}