.trackmatic__content-bold {
    font-weight: bolder;
}

.trackmatic__content-container {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    max-width: 1280px;
    width: 100%;
    margin-inline: auto;
}

.trackmatic__content-container p {
    padding: 1em 0;
}

@media (max-width: 768px) {
  .trackmatic__content-container {
    max-width: 752px;
}
}

@media (max-width: 425px) {
  .trackmatic__content-container {
    max-width: 409px;
  }
}

@media (max-width: 375px) {
  .trackmatic__content-container {
    max-width: 359px;
  }
}